<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="nav">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">集码您</span>
                </button>
                <a class="navbar-brand" href="/" style="font-weight: 700;font-size: 24px;color: #34495e;">集码您</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form class="navbar-form navbar-left" action="/" method="get">
                    <div class="form-group">
                        <input type="text" class="form-control" name="search" placeholder="搜索问题">
                    </div>
                    <button type="submit" class="btn btn-default" style="font-weight: 700">搜索</button>
                </form>
                <ul class="nav navbar-nav">
                    <li><a href="https://blog.csdn.net/wjsone" target="_blank"
                           onclick="gtag('event', 'click', {'event_category': 'LINK','event_label': 'BOOK_STORE','transport_type': 'NAV'})" style="font-weight: 700">我的博客</a>
                    </li>
                    <li><a href="https://github.com/wangjieone" target="_blank"
                           onclick="gtag('event', 'click', {'event_category': 'LINK','event_label': 'WEB','transport_type': 'NAV'})" style="font-weight: 700">更多资料</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li th:if="${session.user != null}">
                        <a href="/publish" style="font-weight: 700">提问</a>
                    </li>
                    <li><a href="/profile/replies" style="font-weight: 700">通知 <span class="badge" th:text="${session.unreadCount}"></span></a>
                    </li>
                    <li class="dropdown" th:if="${session.user != null}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            <span th:text="${session.user.getName()}"></span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/profile/questions" style="font-weight: 700">我的问题</a></li>
                            <li><a href="/logout" style="font-weight: 700">退出登录</a></li>
                        </ul>
                    </li>
                    <li th:if="${session.user == null}">
                       <a href="https://github.com/login/oauth/authorize?client_id=61ba5520b45475a510b9&redirect_uri=http://localhost:8080/callback&scope=user&state=1" style="font-weight: 700">登录</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</div>

</body>

</html>
